<h1>Add Event</h1>

<form method="post">
    <label>
        Name of Event:
        <input type="text" name="name" />
    </label>
    <br />
    <label>
        Description:
        <input type="text" name="description" />
    </label>
    <br />
    <input type="submit" value="Add Event" class="btn btn-secondary"/>
</form>

