<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a> @*to be redirected to events add page*@
</p>

@if (ViewBag.listOfEvents.Count == 0)
{
    <p>No events yet!</p>
}
else
{
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>

    @foreach (KeyValuePair<string, string> evt in ViewBag.listOfEvents) // KeyValuePair<string, string>
    {
        <tr>
            <td>@evt.Key</td>
            <td>@evt.Value</td>
        </tr>
    }
</table>

}



